.tableToday {
  color: #333333;
  border-collapse: collapse;
  width: 100%;
  background-color: #FFDEC3;
}

.tableToday td, .tableToday th {
  border: 1px solid white;
  padding: 8px;
}

.tableToday tr:nth-child(odd) {
  background-color: #FFCCB4;
}

.tableToday tr:hover {
  background-color: #FFB7AA;
  color: white;
}

.tableToday th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #FF9A9A;
  color: #333333;
}

button {
  font-family: 'Microsoft JhengHei', 'Apple LiGothic Medium', 'Verdana';
  font-size: 14px;
  background-color: #B6ECF2;
  border: none;
  color: #333333;
  text-align: center;
  display: inline-block;
  padding: 12px 15px;
}

button:hover {
  background-color: #6FB7BF;
  color: white;
}
