<div>
  <button (click)="tag = false">全部</button>
  <button (click)="showByRegion('north')">北部地區</button>
  <button (click)="showByRegion('west')">中部地區</button>
  <button (click)="showByRegion('south')">南部地區</button>
  <button (click)="showByRegion('east')">東部地區</button>
  <button (click)="showByRegion('other')">離島</button>
</div>
<table class="tableToday">
<tr>
  <th colspan="8" style="text-align: left;">今日天氣</th>
</tr>
<tr>
  <th>ID</th>
  <th>地區</th>
  <th>天氣狀況</th>
  <th>最高溫</th>
  <th>最低溫</th>
  <th>parameterValue1</th>
  <th>開始時間</th>
  <th>結束時間</th>
</tr>
<ng-container *ngIf="!tag">
<tr *ngFor="let data of weatherToday">
  <td style="text-align: center;">{{ data?._id }}</td>
  <td style="text-align: center;">{{ data?.locationName }}</td>
  <td>{{ data?.parameterName1 }}</td>
  <td>{{ data?.parameterName2 }}°{{ data?.parameterUnit2 }}</td>
  <td>{{ data?.parameterName3 }}°{{ data?.parameterUnit3 }}</td>
  <td>{{ data?.parameterValue1 }}</td>
  <td>{{ data?.startTime | date: 'y-MM-dd, HH:mm:ss' }}</td>
  <td>{{ data?.endTime | date: 'y-MM-dd, HH:mm:ss' }}</td>
</tr>
</ng-container>
<ng-container *ngIf="tag">
<tr *ngFor="let data of tweatherByRegion">
  <td style="text-align: center;">{{ data?._id }}</td>
  <td style="text-align: center;">{{ data?.locationName }}</td>
  <td>{{ data?.parameterName1 }}</td>
  <td>{{ data?.parameterName2 }}°{{ data?.parameterUnit2 }}</td>
  <td>{{ data?.parameterName3 }}°{{ data?.parameterUnit3 }}</td>
  <td>{{ data?.parameterValue1 }}</td>
  <td>{{ data?.startTime | date: 'y-MM-dd, HH:mm:ss' }}</td>
  <td>{{ data?.endTime | date: 'y-MM-dd, HH:mm:ss' }}</td>
</tr>
</ng-container>
